@model IEnumerable<Shop_Application.Models.PlacementOfOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>My Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceOfBuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOfBuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.NameCustomer)
                @Html.DisplayFor(modelItem => item.Order.SurnameCustomer)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
