@model IEnumerable<Shop_Application.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-secondary"  asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" class="btn btn-outline-danger"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
